{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'frontpage/style.css' %}">

<div class="header">

    <h1 style="margin: 20px 0 0 0; display: inline-block">Creative Writing Techniques</h1>
    <ul style="display: inline-block">

        <li>
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'password_reset' %}">Password Reset</a>
        </li>
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </li>
    </ul>
</div>

<div class="main">
    {% block content %}

    {% endblock %}
</div>