{% extends 'frontpage/header.html' %}
{% load static %}
{% load tz %}


{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'frontpage/style.css' %}">

    <div class="feed">
        <h3>Updates:</h3>
        {% for post in postList %}
            <div class="post">
                <b>{{ post.title }}</b> - {{ post.date_uploaded|localtime }}

                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="sidebar">
        <p> The objective of Creative Writing Club at Texas A&M University is to primarily sharing writing activities and receive relevant feedback in replacement of Google Docs. We upload our writing pieces and comment on other users' pieces by searching for keywords or users.
            The processes of uploading, commenting, and searching are divided in order to facilitate members to perform necessary actions.


        <p> Meeting Times - Tuesday Night 19:00-21:00 at Architecture Building 420 </p>
        <p> Contact Information - To be added (Email and Phone #) </p>
    </div>
{% endblock %}