{% extends 'frontpage/header.html' %}
{% load static %}
{% load tz %}


{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'frontpage/style.css' %}">

    <div class="feed">
        <h3>Updates:</h3>
        {% for post in postList %}
            <div class="post">
                <b>{{ post.title }}</b> - {{ post.date_uploaded|localtime }}

                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="sidebar">
        <p> “Forget all the rules. Forget about being published. Write for yourself and celebrate writing.” – Melinda Haynes  </p>
        <p> The purpose of Creative Writing Club at Texas A&M University is to provide a medium for all students to express their passion for writing. All types of writing are welcome, from poetry, prose, screenwriting, fiction, non-fiction, fantasy, memoir, etc. As well as to help writers improve and hone their skill through practice, workshops, and discussions. For those seeking a career in creative writing, there will be assistance for writers seeking to publish, as well as help with balancing both academic and creative goals. </p>

        <p> (General Information) </p>
        <p> Established in 2016 under College of Liberal Arts </p>

        <p> (Membership) </p>
        <p> Currently 30 members, Admissions taken all year, Weekly Time commitment 0-3 hours </p>


        <p> (Meeting Times and Contact Information) </p>
        <p> Tuesday 6:30PM at LAAH 326 </p>
        <p> Contact our president, Mikayla Andrade (mikaylaandrade@gmail.com) or Amber Royea (CWTC.Aggies@gmail.com) </p>

    </div>
{% endblock %}